.section {
	position: relative;
	height: 100vh;
}
.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.form-header h2{
	color: white;
	font-weight: 600;
	font-size: xx-large;
	left: 57%;
	position: relative;
}
#booking {
	font-family: 'Montserrat', sans-serif;
	
	background-size: cover;
	background-position: center;
}
.book_form{
	position: relative;
	left: 60%;
	opacity: 0.6;
}
#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.booking-form {
	max-width: 642px;
	width: 100%;
	margin: auto;
}

.booking-form .form-header {
	text-align: center;
	margin-bottom: 25px;
}

.booking-form .form-header h1 {
	font-size: 58px;
	text-transform: uppercase;
	font-weight: 700;
	color: #ffc001;
	margin: 0px;
}

.booking-form>form {
	background-color: #101113;
	padding: 30px 20px;
	border-radius: 3px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 15px;
}

.booking-form .form-control {
	background-color: #f5f5f5;
	border: none;
	height: 45px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-weight: 400;
	color: #101113;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
	color: rgba(16, 17, 19, 0.3);
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #101113;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 5px;
	display: block;
	text-transform: uppercase;
}

.booking-form .submit-btn {
	color: #101113;
	background-color: #ffc001;
	font-weight: 700;
	height: 50px;
	border: none;
	width: 100%;
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
}
.venue{
	width: 45%;
	overflow:hidden;
}
.venue span{
	font-size: x-large;
	color: white;
}
.venue .name{
	font-weight: 500;
	font-size: 7rem;
	position: absolute;
	top: 5rem;
	left: 4rem;
	opacity: 0.8;
}
.venue .desc{
	font-size: 2.1rem;
	position: absolute;
	left: 4rem;
	top: 20rem;
	width: 40%;
	opacity: 0.7;
	font-family: "Aldhabi";
}
.venue .form1{
	font-size: x-large;
	position: absolute;
	left: 4rem;
	top: 35rem;
	opacity: 0.7;
	font-family: "Aldhabi";
}
.venue .form2{
	position: absolute;
	left: 4rem;
	top: 38rem;
	opacity: 0.7;
	font-family: "Aldhabi";
}
.venue .form3{
	position: absolute;
	word-wrap: wrap;
	left: 4rem;
	top: 41rem;
	opacity: 0.7;
	font-family: "Aldhabi";
	width: 40%;
	word-wrap: wrap;
}
.venue .form4{
	position: absolute;
	left: 4rem;
	top: 47rem;
	opacity: 0.7;
	font-family: "Aldhabi";
}
.venue .form5{
	position: absolute;
	left: 4rem;
	top: 50rem;
	opacity: 0.7;
	font-family: "Aldhabi";
}
.venue .form6{
	position: absolute;
	left: 4rem;
	top: 53rem;
	opacity: 0.7;
	font-family: "Aldhabi";
}
.name::first-letter{
	color: #ffc001;
}